# Dependencies
node_modules/
yarn.lock

# Build
build/
dist/
.webpack/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secrets and local credentials
*.pem
*.key
*.pub
*.pfx
*.crt
*.cer
.kube/
*.kubeconfig
*node-token*

# Docker
.docker/
docker-compose.override.yml

# OS
Thumbs.db
.DS_Store
k8s/configmap.yml

.terraform/
terraform.tfstate
*.backup
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
