# MongoDB
# For Docker Compose: mongodb://root:password@mongodb:27017/shop?authSource=admin
# For Local Development: mongodb://localhost:27017/shop
MONGODB_URI=mongodb://root:password@mongodb:27017/shop?authSource=admin

# Server
PORT=5000
NODE_ENV=development
