.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #00ca65;
}

/* LEFT */
.navleft {
  display: flex;
  gap: 15px;
  margin-left: 100px;
}

/* RIGHT */
.navRight {
  display: flex;
  gap: 15px;
  margin-right: 100px;
}

/* LINK STYLE */
.navItem {
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;

  text-decoration: none; /*Link */
  color: inherit; /*Link */
  font-family: "Arial", sans-serif;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navItem:hover {
  background-color: #00ca65;
  opacity: 0.8;
  color: white;
  /* transform: scale(1.05); */
  transition: all 0.3s ease;
}

/* SEARCH */
.navSearch input[type="search"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 100px;
  width: 800px;
}

.navbar input[type="search"]:focus {
  border-color: #00ca65;
  outline: none;
}

.dropdownCategory {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownContent a:hover {
  background-color: #00ca65;
  color: white;
  transition: all 0.3s ease;
}

.dropdownCategory:hover .dropdownContent {
  display: block;
  transition: all 0.3s ease;
}
