.cartCard .cartItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #00ca65;
  border-radius: 10px;
  max-width: 500px;
}

.cartItem img {
  width: 153.25px;
  height: 153.25px;
  margin-right: 10px;
}

.cartItem p {
  font-size: 18px;
  margin-bottom: 10px;
}

.cartItem button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
